.slider{
    position: relative;
    margin-top:46px ;
    padding-top: 50%;
}

.slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #ff0000;
    width: 100%;
    text-align: center;
}

.hidden-image{
    display: none;
}

.slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin:25px;
}

.slider .text-description{
    font-size: 15px;
}
